// ? Colors
$white-color: #fff;
$black-color: #0e1412;
$grey-color: #586863;
$orange-color: #fd6038;
$dark-orange-color: #ff3400;
$green-color: #017848;
$yellow-color: #fed464;
$yellow-light-color: #f8ebc9;

// ? Breakpoints
$device-breakpoints: (
    xl: 1399.98px,
    lg: 1199.98px,
    md: 991.98px,
    sm: 767.98px,
    xs: 575.98px,
);
