<footer class="footer">
    <div class="container">
        <div class="row gy-sm-3">
            <div class="col-7 col-md-6 col-sm-12">
                <div class="footer__left">
                    <div class="link-group">
                        <h2 class="group__title">Justice</h2>
                        <ul class="group__list">
                            <li class="group__item">
                                <a href="#!" class="link">Privacy Policy</a>
                            </li>
                            <li class="group__item">
                                <a href="#!" class="link">Terms & Conditions</a>
                            </li>
                            <li class="group__item">
                                <a href="#!" class="link">Cookie Preferences</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-group">
                        <h2 class="group__title">Pages</h2>
                        <ul class="group__list">
                            <li class="group__item">
                                <a href="#!" class="link">Home</a>
                            </li>
                            <li class="group__item">
                                <a href="#!" class="link">About</a>
                            </li>
                            <li class="group__item">
                                <a href="#!" class="link">Practice Areas</a>
                            </li>
                            <li class="group__item">
                                <a href="#!" class="link">Attorneys</a>
                            </li>
                        </ul>
                    </div>
                    <div class="link-group footer__info">
                        <h2 class="group__title">Address</h2>
                        <p class="info">
                            50 Harrison Street, PH Suite 445 <br />
                            Hoboken, NJ 07030 <br />
                            <a href="tel:+84398973408">(000) 123-4567</a> <br />
                            <a href="mailto:quynxf8@fullstack.edu.vn" class="email">quynxf8@fullstack.edu.vn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-5 col-md-6 col-sm-12">
                <div class="footer__right">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.5822934091516!2d109.21659152513743!3d13.804035936593241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316f6bf778c80973%3A0x8a7d0b5aa0af29c7!2zxJDhuqFpIGjhu41jIEZQVCBRdXkgTmjGoW4!5e0!3m2!1svi!2s!4v1747155083478!5m2!1svi!2s"
                            width="600"
                            height="450"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="footer__bottom">
            <div class="logo">
                <a href="/" class="footer__logo-wrapper">
                    <img src="./images/logo-footer.png" alt="Justice Law Firm" />
                </a>
                <p class="copyright">Copyright © 2022 UI HUT All Rights Reserved</p>
            </div>
            <div class="socials">
                <div class="social__item social__item--fb">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div class="social__item social__item--linkedin">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                <div class="social__item social__item--twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="social__item social__item--instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
