<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <!-- ? Include "header.ejs" partials for Favicon, Fonts,... -->
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <!-- ? Header -->
        <%- include("./partials/header.ejs") %>

        <h1>About</h1>

        <!-- ? Footer -->
        <%- include("./partials/footer.ejs") %>

        <!-- ? Scripts -->
        <script type="module" src="./js/main.js"></script>
    </body>
</html>
