@use "./abstracts";
@use "./base";
@use "./components";
@use "./layout";
@use "./pages";

// ? Common
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

a {
    color: inherit;
}
