@use "./abstracts";
@use "./base";
@use "./components";
@use "./layout";
@use "./pages";

// ? Common
* {
    box-sizing: border-box;
}

button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

a {
    color: inherit;
    outline: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}
